@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    box-sizing: border-box;
}

body {
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: -.022em;
    line-height: 1.47059;
    color: #1D1D1F;
    font-style: normal;
}